ion-button {
    width: 100%;
}

ion-icon {
    width: 24px;
    height: 24px;
    margin-right: 1%;
}

.btn_profile {
    border-radius: 32px;
    background: var(--Primario-nevent, #5B7EF2);
    display: flex;
    width: auto;
    height: 55px;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 54px;
}

.icon_color {
    color: #E69724;
    margin-top: auto;
    margin-bottom: auto;
}

.icon_green {
    color: rgba(155, 195, 173, 1);
    width: 14px;
    height: 14px;
}

ion-item.green-background {
    --ion-item-background: rgba(155, 195, 173, 0.3);
}

.label_text_delete {
    color: rgba(155, 195, 173, 1);
    font-size: 14px;
    font-weight: 500;

}

.div_mas {
    width: 45px;
    height: 45px;
    background-color: rgba(255, 255, 255, 0.16);
    display: flex;
    justify-content: center;
}

.text_label {
    font-size: 14px;
    font-weight: 400;
}

.icon_x {
    margin-left: 0px;
}

.datos_basicos {
    margin-bottom: 24px;
}

ion-item {
    ion-label {
        color: #FBFBFB;
        font-family: "Poppins";
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        margin-left: 3%;
    }

    .label_profile {
        font-weight: 400;
    }

    ion-img {
        margin-right: 3%;
    }
}

app-card-preview {
    width: 100%;
}

.ios ion-toolbar {
    --background: #000;
    text-align: center;
}

.md ion-toolbar {
    text-align: center;
}

.ios ion-header {
    backdrop-filter: saturate(180%) blur(20px);
}

.text_title_header {
    color: #FBFBFB;
    font-family: "Poppins";
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 42px;
    margin-left: 8px;
}

ion-list {
    ion-item {
        margin-top: 0px;
    }
}

.parraf_p {
    color: #BDBDBD;
    font-family: "Poppins";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 10%;
    padding: 0px 24px 0px 24px;
}

.margin_row {
    margin-right: 4%;
    margin-left: 4%;
}

.col_label {
    margin-left: 4%;
}

.color_item_profile {
    --ion-item-background: #161616;
    padding-left: 5%;
    padding-right: 5%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.59);
    --border-radius: 8px;
}

ion-avatar {
    height: 51px;
    width: 51px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Floating label */
/* Floating label */



/*
ion-input.custom, ion-input.custom:hover, ion-input.custom:focus, ion-input.custom::after {
    --background: #000;
    --color: #fff;
  
    --padding-bottom: 10px;
    --padding-end: 10px;
    --padding-start: 10px;
    --padding-top: 10px;

    border-radius: 8px;
    border: 1px solid #F2F2F2;
  }
*/
.md ion-input,
ion-input:hover,
ion-input:focus,
ion-input:after {
    --background: #000;
    --color: #fff;
    --border-color: #F2F2F2;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    --padding-bottom: 15px;
    --padding-end: 10px;
    --padding-start: 10px;
}

.input-fill-solid.sc-ion-input-md-h {
    border-color: #FFF;
    border-style: solid;
    border-radius: 8px !important;
}

.label-text-wrapper {
    color: #BDBDBD;
    font-family: "Poppins";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal
}

.native-wrapper {
    color: #F2F2F2;
    font-family: "Poppins";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.ios ion-input,
ion-input:hover,
ion-input:focus,
ion-input:after {
    --background: #000;
    --color: #fff;
    --border-color: #F2F2F2;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    --padding-bottom: 15px;
    --padding-end: 10px;
    --padding-start: 10px;
}

ion-item.default-item-button {

    color: var(--ion-color-secondary);

    ion-thumbnail {
        background-color: var(--ion-color-secondary-shade);
        border-radius: 5px;

        ion-grid {
            padding: 0;
            height: 100%;
            width: 100%;
        }

        ion-row {
            height: 100%;
        }

        ion-col {
            padding: 0;
        }
    }

    ion-label {
        color: var(--ion-color-secondary);
        font-size: 14px;
        margin-left: 0;
    }

    ion-icon {
        color: var(--ion-color-secondary);
    }
}

.title_no_show{
    visibility: hidden;
}

.title_show{
    visibility: visible;
}