<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-buttons routerLink="/profile" slot="start">
        <ion-icon class="icon_x ion-padding" name="arrow-back-outline"></ion-icon>
      </ion-buttons>
    </ion-buttons>
    <ion-buttons (click)="onClickAction()" slot="end">
      <ion-title *ngIf="!text_action" class="ion-padding ion-text-right" size="small">Editar</ion-title>
      <ion-title *ngIf="text_action" class="ion-padding ion-text-right" size="small">Listo</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [scrollEvents]="true" (ionScroll)="handleScroll($any($event))" class="ion-no-padding">
  <ion-label [ngClass]="{'title_show':!litle_text, 'title_no_show': litle_text}" class="ion-padding text_title_header">Métodos de pago</ion-label>
  <ion-item *ngIf="show_delete" lines="none" class="green-background">
    <ion-icon class="icon_green" name="checkmark-circle-outline"></ion-icon>
    <ion-label class="label_text_delete">Método de pago eliminado!</ion-label>
  </ion-item>
  <p class="parraf_p">Elige cómo quieres pagar tus experiencias.</p>
  <ion-grid>
    <ion-row class="ion-align-items-center ion-justify-content-center"
      *ngIf="!paymentMethods || paymentMethods.length === 0">
      <ion-col>
        <ion-label>
          <h4 class="ion-text-center">Ops! No tienes métodos de pago</h4>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <app-card-preview *ngFor="let paymentMethod of paymentMethods; index as i" [index]="i"
          [text_action]="text_action" [paymentMethod]="paymentMethod"
          (onDelete)="removeFromList($event)"></app-card-preview>
      </ion-col>
    </ion-row>
    <ion-row [routerLink]="['/profile', 'create-card']">
      <ion-col>
        <ion-item class="default-item-button" lines="none">
          <ion-thumbnail slot="start">
            <ion-grid>
              <ion-row class="ion-align-items-center ion-justify-content-center">
                <ion-col size="auto">
                  <ion-icon name="add-outline" size="large"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-thumbnail>
          <ion-label>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <h2>Añadir método de pago</h2>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>