<!-- Main component part -->
<ion-grid style="padding: 0" fixed>
  <ion-row class="ion-justify-content-start chip-row" *ngIf="item.stock>0 && item.stock<10">
    <ion-col size="12" class="chip-col">
      <ion-chip>
        <ion-avatar>
          <ion-icon name="flame-outline"></ion-icon>
        </ion-avatar>
        <ion-label>Están volando!</ion-label>
      </ion-chip>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-between ion-align-items-start row1_upsilling">
    <ion-col size="2">
      <ion-card>
        <img style="width: 100%; height: 100%; object-fit: cover" [alt]="item.itemName" [src]="item.images[0]" />
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-label>
        <h2>{{ item.itemName }}</h2>
        <p *ngIf="item?.description" [innerHTML]="item.description"></p>
      </ion-label>
    </ion-col>
  </ion-row>
  <ion-row class="row2_upsilling">
    <ion-col size="auto">
      <ion-row>
        <ion-label>
          <h2>
            {{
            item.displayPrice / 100 | currency : "EUR" : "symbol" : "1.2-2"
            }}
          </h2>
        </ion-label>
      </ion-row>
    </ion-col>
    <ion-col size="5">
      <div class="box_patrocinado" *ngIf="item.sponsor && item.sponsor.image">
        <ion-label class="patrocinado">patrocinado por </ion-label>
        <ion-img class="img_patrocinado" [src]="item.sponsor.image"></ion-img>
      </div>
    </ion-col>
    <ion-col style="
        padding-left: 0;
        padding-right: 0;
        display: inline-flex;
        width: 78%;
        justify-content: flex-end;
        float: right;
        width: 49%;
      ">
      <ion-row size="12" class="ion-align-items-center box_mas_menos" *ngIf="item.stock > 0; else soldOut">
        <div>
          <ion-button [disabled]="quantity <= 0" slot="icon-only" icon="pi pi-minus" fill="clear"
            (click)="reduceElement()">
            <ion-icon name="remove-circle-outline" size="large"></ion-icon>
          </ion-button>
        </div>
        <div>
          <h5 class="flex-none">{{ quantity }}</h5>
        </div>
        <div>
          <ion-button *ngIf="item.stock > 0" slot="icon-only" [disabled]="quantity >= item.stock" icon="pi pi-plus"
            fill="clear" (click)="increaseElement()">
            <ion-icon name="add-circle" size="large"></ion-icon>
          </ion-button>
        </div>
      </ion-row>
      <ng-template #soldOut>
        <ion-row size="12" style="display: flex; justify-content: end">
          <ion-label class="label_soldout">SOLD OUT</ion-label>
        </ion-row>
      </ng-template>
    </ion-col>
  </ion-row>
</ion-grid>