<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons [routerLink]="['/tickets' ,ticketId]" slot="start">
      <ion-icon class="icon_x ion-padding" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-label class="label_text_title" *ngIf="litle_text">Notificaciones</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [scrollEvents]="true" (ionScroll)="handleScroll($any($event))">
  <ion-label [ngClass]="{'title_show':!litle_text, 'title_no_show': litle_text}" class="ion-padding text_title_header">Notificaciones</ion-label>
  <div id="container">
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)" [pullFactor]="0.5" [pullMin]="100" [pullMax]="200">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-list lines="none">
      <ion-item-sliding *ngFor="let message of messages">
        <ion-item>
          <ion-grid>
            <ion-row size="12" class="ion-align-items-top ion-justify-content-start flex">
              <ion-col class="margin_top_item" size="2">
                <ion-icon name="mail-outline"></ion-icon>
              </ion-col>
              <ion-col size="8">
                <ion-row>
                  <span class="text_content" [innerHTML]="message.content"></span>
                </ion-row>
              </ion-col>
              <ion-col size="2" class="margin_top_item">
                <span class="text_date">{{ message.createdAt | date: dateFormat }}</span>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item-options>
          <ion-item-option *ngIf="message.read === true" (click)="markAsUnread(message.id)">No leído</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <div class="ion-padding" *ngIf="messages.length===0">
      <ion-label>
        <p>No hay mensajes</p>
      </ion-label>
    </div>
  </div>
</ion-content>